



<html>
    <head>
        <style>
            body {
              background-image: url('https://www.transformmagazine.net/media/8457/screen-shot-2019-02-15-at-123734-pm.png?anchor=center&mode=crop&width=612&rnd=131947078830000000&bgcolor=ffffff');
              background-repeat: no-repeat;
              background-attachment: fixed;
              background-size: 100% 100%;
              
            }
            </style>
    </head>
<body>

<h1> Users are {{count}} </h1>
<p> Functionality triggered {{flag}}  {{userCount}} </p>
</body></html>